# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
env/
.env
.env.*

# Node
frontend/node_modules/
frontend/.vite/

# Editor
.vscode/

# OS
.DS_Store
Thumbs.db

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
